<form id="login-form" action="/auth/login" method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
</form>

<!-- Link to the registration page -->
<p>Don't have an account? <a href="/register">Sign up</a></p>

<script src="/js/login.js"></script>
